.control {
    display: flex;
    column-gap: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.leftColumn, .rightColumn {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.text {
    width: 200px;
    overflow: hidden;
    text-align: center;
    background-color: aliceblue;
    padding: 5px;
    outline: none;
    border-image: linear-gradient(45deg, purple, orange) 1;
}

.text:focus {
    border: 2px solid;
}
